/* Resset básico */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 25px;
  background-color: rgb(253, 255, 203);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: repeat(3, 100px);
  grid-template-areas:
    "header  header  header"
    "main    main    sidebar"
    "footer  footer  footer";


  width: 500px;
  height: 500px;
  margin: 0 auto;

  background-color: rgb(232, 170, 255);
}

.header {
  grid-area: header;
  background-color: rgb(217, 141, 141);
}

.main {
  grid-area: main;
  background-color: rgb(210, 237, 122);
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(235, 201, 88);
}
.footer{
  grid-area: footer;
  background-color: rgb(143, 255, 154);
}