/* Resset básico */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 25px;
  background-color: rgb(253, 255, 203);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px; /* define el espacio entre filas y columnas */
  /* row-gap: 48px;define el espacio entre las filas */
  /*column-gap: 12px;  define el espacio entre las columnas */


  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 24px;

  background-color: rgb(232, 170, 255);
}
.item-1{
background-color: rgb(85, 255, 0);
}

.item-2{
  background-color: aqua;
}
.item-3{
 background-color: rgb(106, 59, 125); 
}
.item-4{
  background-color: rgb(255, 102, 0);
}
.item-5{
  background-color: rgb(246, 255, 0);
}
.item-6{
  background-color: rgb(204, 0, 255);
}

